body
{
    background-image: url(https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/75610669_10220276311768845_3793499116521127936_n.jpg?_nc_cat=110&_nc_ohc=eFo6t7lXikEAX_4mbO2&_nc_ht=scontent-dfw5-1.xx&oh=e20cb5e154236727868088e03263b94a&oe=5E923C85);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    margin-bottom: 200px;
    position: relative;
  
}


/*Nav Bar*/

.navbar
{   
    background-color: gold;
    border-bottom: solid 5px  rgb(108, 89, 170) ;
    padding: 0;
    
}
.navbar-nav
{
    margin-left: auto;
}
.navbar-brand
{

    color:rgb(108, 89, 170);
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-item
{
    padding: 0 px;
}
.nav-link
{
    color: rgb(108, 89, 170);
    padding: 0;
    font-size: 1rem;
}
.nav-link:hover
{
    color: #b4b4b4;
}
.nav-spacer
{
    border: solid 1px rgb(108, 89, 170);

}

/*About Me Cards*/
.card
{
    width: 700px;
    margin: 30px auto 30px 30px;
    color:  rgb(108, 89, 170);
    border: gold solid 1px;
}
.card-title
{
    color: rgb(108, 89, 170);
    padding-bottom: 15px;
    border-bottom: solid 2px gold;
    margin-bottom: 30px;
}
.card-img
{
    margin-right: 10px;
    float: left;
    width: 200px;
    height: 200px;
}
.about-text
{   
    margin-block-start: -.5em;
    line-height: 2rem;
}

 
/*Portfolio cards*/

.card-deck{
    padding: 50px;
   
        }

 .stretched-link::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            pointer-events: auto;
            content: "";
            background-color: rgba(0,0,0,0);
        }


/*Footer*/


.footer
{
    background-color: gold;
    border-top: solid 7px rgb(108, 89, 170);
    width: 100%;
    position: relative;
    bottom: -200px;
    min-height: 60px;
}

.footer-text
{
    color:  rgb(108, 89, 170);
    text-align: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



@media(max-width:768px)
{
    .navbar-brand
    {
        margin-left:15px;
    }
    .navbar-nav
    {
        flex-direction: row;
        padding-bottom: 12px;
        padding-right: 0px;
        padding-top: 12px;
    }
    
   
    .card
    {
        margin: 30px auto auto auto;
        max-width: 80%; 
    }
}
@media(max-width:669px)
{
    
    .navbar-brand
    {
        margin-left: 0;
        text-align: center;
        width: 100%;
    }
    .navbar-nav
    {
        flex-direction: column;
        margin: auto;
        padding-bottom: 12px;
        padding-right: 0px;
        padding-top: 12px;
        width: 100%;
        text-align: center;
    }
  
    .card
    {
        margin: 30px auto 30px auto;
        width: 100%;
    }
}



